include ./layouts/header.jade



div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center!= message
      div.row
        div.col-md-6.col-md-offset-3.text-center
        div.col-md-6.col-md-offset-3
          h4 Programs
          table.table-striped.table-bordered
            thead
              tr
                th Program Type &nbsp
                th Term &nbsp
                th Price &nbsp
                th Name &nbsp
                th Program Id &nbsp
            tbody
              each row, i in rows
                tr
                  td
                    =row.programType
                  td
                    =row.term
                  td
                    =row.price
                  td
                    =row.name
                  td
                    a(href="../programs/#{row.programId}")= row.programId
          | <br>
          h4 Users
          table.table-striped.table-bordered
            thead
              tr
                th Name &nbsp
                th Email &nbsp
                th User Id &nbsp
            tbody
              each user, i in users
                tr
                  td
                    =user.name
                  td
                    =user.email
                  td
                    =user.userId
          | <br>

                    
                          
include ./layouts/footer.jade
