include ./layouts/instr_header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Date ##{message}
      div.row
        div.col-md-8.col-md-offset-2.text-center
          | <br>
          p Information about Date ##{message}
          table 
            thead
              tr
                th Start Time
                th End Time
                th Day Of Week
                th Program Id
            tbody
              each row, i in program
                tr
                  td
                    =row.starTime
                  td
                    =row.endTime
                  td
                    =row.dayOfWeek
                  td
                    =row.programId
                          
include ./layouts/footer.jade
