include ./layouts/header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      //h1.Title.text-center Division
      div.row
        div
          | <br>
          table.table-striped.table-bordered
            thead
            h4 Users Who are Enrolled In All Classes
              tr
                th Name &nbsp
            tbody
              each row, i in users
                tr
                  td
                    =row.name
          | <br>

                    
                          
include ./layouts/footer.jade
