include ./layouts/header1.jade
//- html head
//- 	link(rel='stylesheet', href='/stylesheets/style.css')
//- 	body.bkimage
div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Error! Error! 
      div.row
        div.col-md-6.col-md-offset-3.text-center
          p #{message}

include ./layouts/footer.jade