include ./layouts/header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      //h1.Title.text-center #{message}
      div.row
        div
          | <br>
          table.table-striped.table-bordered
            thead
            h4 #{message}
              tr
                th Program Type &nbsp
                th Term &nbsp
                th Price &nbsp
                th Name  &nbsp
                th Program Id &nbsp
            tbody
              each row, i in programs
                tr
                  td
                    =row.programType
                  td
                    =row.term
                  td
                    =row.price
                  td
                    =row.name
                  td
                    a(href="../programs/#{row.programId}")= row.programId
          | <br>
          | <br>
                    
                          
include ./layouts/footer.jade
