include ./layouts/header.jade
//- html head
//- 	link(rel='stylesheet', href='/stylesheets/style.css')
//- 	body.bkimage
div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Get REC-ed
      div.row
        div.col-md-6.col-md-offset-3.text-center
          p CPSC 304 Project - A Simplified UBC Recreational System
          body.backgroundimg
        div.col-md-6.col-md-offset-3
          | <br> 
          | <form method="post">Enter Your User ID <input type ="number" name="number"><button name="user" value=input>User Console</button></form>
          | <br>
          | <form method="post">Enter Your User ID <input type ="number" name="number"><button name="admin" value=input>Admin Console</button></form>
          

include ./layouts/footer.jade