include ./layouts/instr_header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Hello Instructor ##{message}
      div.row
        div.col-md-6.col-md-offset-3.text-center
          p Here is where instructors can view exisitng, add, delete, and update programs.
          | <br>
          p Programs I'm Teaching
          table.table-striped.table-bordered
            table
            	thread
                tr
                	th Name &nbsp
                  th Program Type &nbsp
                  th Term &nbsp
                  th Program Id &nbsp
                  th Price
              tbody
                each row, i in registered
                  tr
                    td
                      =row.name
                    td
                      =row.programType
                    td
                      =row.term
                    td
                      a(href="../programs/#{row.programId}")= row.programId
                    td
                      =row.price
                    td
                      |<form method="post"><button type="submit" name="drop" value=row.programId>Cancel Class</button></form>

          | <br>
          | <br>
              
include ./layouts/footer.jade
