include ./layouts/instr_header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center location ##{message}
      div.row
        div.col-md-8.col-md-offset-2.text-center
          | <br>
          p Information about Location ##{message}
          table 
            thead
              tr
                th Capacity
                th Name
                th Address
            tbody
              each row, i in program
                tr
                  td
                    =row.capacity
                  td
                    =row.name
                  td
                    =row.address
                  td
                    =row.programId
                          
include ./layouts/footer.jade
