include ./layouts/header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Programs cheaper than $#{message}
      div.row
        div.col-md-6.col-md-offset-3.text-center
          | <br>
          table 
            thead
              tr
                th Program Type
                th Term
                th Price
                th Name 
                th Program Id
            tbody
              each row, i in programs
                tr
                  td
                    =row.programType
                  td
                    =row.term
                  td
                    =row.price
                  td
                    =row.name
                  td
                    a(href="../programs/#{row.programId}")= row.programId
          | <br>
          | <br>
          | <form method="post">Look For Programs Cheaper Than <input type ="number" name="number"><button name="drop" value=input>Go</button></form>
          | <br>
                    
                          
include ./layouts/footer.jade
