include ./layouts/header.jade


div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      //h1.Title Programs cheaper than $#{message}
      div.row
        div
          | <br>
          table.table-striped.table-bordered
            thead 
            h4 Programs cheaper than $#{message}
              tr
                th Program Type &nbsp
                th Term &nbsp
                th Price &nbsp
                th Name &nbsp
                th Program ID &nbsp
            tbody
              each row, i in programs
                tr
                  td
                    =row.programType
                  td
                    =row.term
                  td
                    =row.price
                  td
                    =row.name
                  td
                    a(href="../programs/#{row.programId}")= row.programId
          | <br>
          | <br>
          | <form method="post">Look For Programs Cheaper Than <input type ="number" name="number"><button name="drop" value=input>Go</button></form>
          | <br>
                    
                          
include ./layouts/footer.jade
